*{
    /* outline: 1px solid black; */
    margin: 0 auto;
}

#container{
    width: 900px;
    height: auto;
    background-color: gray;
}

#header{
    width: auto;
    height: 50px;
    background-color: #f5f5f5;
    padding: 5px 0 0 5px;
}

#header h1{
    display: inline-block;
    width: 560px;
    font-family: Snell Roundhand, cursive;
    font-size: 30px;
}

#header p{
    display: inline-block;
    font-size: 20px;
    font-family: Optima, sans-serif;
}

#content{
    width: 860px;
    height: auto;
    background-color: #634e58;
    padding: 20px;
}

#content img{
    width: 390px;
    height: 240px;
    display: inline-block;
    border: 5px solid #c0c0c0;
}

#about{
    width: 435px;
    height: 250px;
    display: inline-block;
    vertical-align: top;
    background-color: #e0d3df;
    margin-left: 20px;
}

#about .title{
    width: 425px;
    height: 25px;
    color: white;
}

#about p{
    margin: 10px;
}

#about a{
    margin: 10px;
    color: black;
}

.title{
    background-color: #a5a4ab;
    padding: 5px;
    font-size: 20px;
    color: white;
    font-family: Trebuchet MS, sans-serif;
}

.info{
    display: inline-block;
    width: 269px;
    height: 395px;
    margin: 20px 10px 0 5px;
    background-color: #e0d3df;
    vertical-align: top;
}

#infos img{
    width: 260px;
    height: 140px;
    margin-bottom: 5px;
    border: 0;
}

#infos p{
    margin: 0 10px 0 10px;
}

.technology{
    display: inline-block;
    width: 269px;
    height: 200px;
    margin: 0px 10px 0 5px;
    background-color: #e0d3df;
    vertical-align: top;
}

#technologies img{
    width: 35px;
    height: 35px;
    margin: 5px;
    border: 0;
}

#technologies a{
    background-color: #407d61;
    width: 106px;
    padding: 2px;
    display: block;
    border-radius: 10px;
    text-align: center;
    margin-top: 10px;
    color: white;
    text-decoration: none;
}

#footer{
    width: auto;
    height: 60px;
    background-color: #f5f5f5;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    color: black;
}
    
#footer img{
    width: 20px;
    height: 20px;
    margin-top: 10px;
    vertical-align: bottom;
 
}

#footer a{
    color: black;
}